.contacts {
    width: 50%;
    padding: 20px 0 20px 40px;
    border-bottom: 2px solid $skills;

    &--head {
        color: $h;
    }

    &--list {
        align-items: flex-start;
        gap: 10px;
    }

    &--link {
        font-size: 18px;
        letter-spacing: 1px;
        color: $text;

        &:hover {
            color: $skills;
        }
    }
}

.item {

    &--map::before {
        content: url('./assets/img//contacts/map-icon.png');
        vertical-align: middle;
        padding: 0 10px 0 0;
    }

    &--email::before {
        content: url('./assets/img//contacts/email-icon.png');
        vertical-align: middle;
        padding: 0 10px 0 0;
    }

    &--gh::before {
        content: url('./assets/img//contacts/gh-icon.png');
        vertical-align: middle;
        padding: 0 10px 0 0;
    }

    &--tg::before {
        content: url('./assets/img//contacts/telegram-icon.png');
        vertical-align: middle;
        padding: 0 10px 0 0;
    }

    &--ds::before {
        content: url('./assets/img//contacts/discord-icon.png');
        vertical-align: middle;
        padding: 0 10px 0 0;
    }
}