.profile {
    padding: 70px 0;
    font-family: 'SPOTNIK';

    & .container { 
        justify-content: space-around;
        gap: 80px; 
    }
}

.profile--letter {
    margin: 0;
    font-size: 32px;
    color: $text;
}

.profile--name {
    font-size: 48px;
    color: $h;
    margin: 22px 0;
}

.profile--profession {
    margin: 0;
    font-size: 24px;
    color: $text;  
}

.author--photo {
    width: 180px;
    border: 1px solid #dfdddd;
    border-radius: 49%;
}