.english {
    width: 50%;
    padding: 20px 40px 20px 0;

    &--head {
        color: $h;
    }

    p {
        font-size: 18px;
        letter-spacing: 1px;
        color: $text;
    }
}