.footer {
    background-color: $up-down;
}

.footer--wrapper {
    padding: 40px 0 40px;
}

.year p {
    font-size: 18px;
    letter-spacing: 1px;
    color: $main;
}

.github--link::before {
    content: url('./assets/img/svg/footer/gh-icon.svg');
    vertical-align: middle;
    padding: 0 10px 0 0;
}

.footer--img {
    width: 120px;
}