.skills {
    width: 50%;
    padding: 20px 0 20px 40px;
    border-bottom: 2px solid $skills;

    &--head {
        color: $h;
    }

    &--item {
        font-size: 18px;
        letter-spacing: 1px;
        color: $text;

        &:not(:last-child) {
            padding: 0 0 10px 0;
        }
    }

    &--html::before {
        content: url('./assets/img/skills/html5.png');
        padding: 0 10px 0 0;
        vertical-align: middle;
    }
    &--css::before {
        content: url('./assets/img/skills/css.png');
        padding: 0 10px 0 0;
        vertical-align: middle;
    }
    &--js::before {
        content: url('./assets/img/skills/js.png');
        padding: 0 10px 0 0;
        vertical-align: middle;
    }
    &--sass::before {
        content: url('./assets/img/skills/sass.png');
        padding: 0 10px 0 0;
        vertical-align: middle;
    }
    &--gh::before {
        content: url('./assets/img/skills/gh-icon.png');
        padding: 0 10px 0 0;
        vertical-align: middle;
    }
    &--figma::before {
        content: url('./assets/img/skills/figma.png');
        padding: 0 10px 0 0;
        vertical-align: middle;
    }
}