.header {
    background-color: $up-down;

    & .container {
        padding: 20px 0;
    }
}

.header--logo {

    img {
        width: 150px;
    }
}

.nav {
    &--list {
        gap: 35px;
    }

    &--link {
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: capitalize;

        &:hover {
            content: "";
            padding: 0 0 5px 0;
            border-bottom: 1px solid $white;
            transition: 0.7s linear;
        }
    }
    
}

