.projects {
    width: 50%;
    padding: 20px 40px 20px 0;
    border-bottom: 2px solid $skills;

    &--head {
        color: $h;
    }

    &--item {

        &::before {
            content: url('./assets/img/courses/circle.png');
            vertical-align: middle;
            padding: 0 10px 0 0;
        }

        &:not(:last-child) {
            padding: 0 0 10px 0;
        }
    }

    &--link {
        font-size: 18px;
        letter-spacing: 1px;
        color: $text;

        &:hover {
            color: $skills;
        }
    }
}